.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: inter, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 100vh;
}

.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.logo {
  position: relative;
  width: 105px;
  height: 39px;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: 1;
}

.header__footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.content {
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  margin: 0;
  padding-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin: 0;
  padding-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
}

.form {
  /*padding: 100px 100px 120px;
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
}

.reservation__title {
  text-align: center;
  margin: 0px 0px 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
  /*padding: 0px;*/
}

.reservation__form {
  display: flex;
  flex-direction: column;
  margin: 0px;
  max-width: 385px;
  /*margin: 80px 80px 120px;*/
  /*border: solid 1px;*/
  border-color: #838383;
  margin-left: auto;
  margin-right: auto;
}

.form__fieldset {
  border: none;
  margin-bottom: 32px;
  max-width: 385px;
  padding: 0px;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  margin-top: 8px;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 345px;
  padding-left: 18px;
  padding-right: 18px;
  /*border: 1px;*/
  border-color: #838383;
  border-style: solid;
  height: 60px;
}

::placeholder {
  color: #838383;
  /*font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;*/
}

.form__button {
  border-radius: 4px;
  background-color: #1878dc;
  transition: background-color 1s;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  width: 385px;
  color: #fff;
  padding: 0%;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  display: flex;
  border-radius: 2px;
  margin-top: 32px;
  text-align: center;
  flex-direction: row-reverse;
  gap: 12px;
  text-align: center;
  justify-content: center;
  /*background-color: #1878dc;
  background-image: url(/images/check.svg);*/
}

.menu {
}

.about {
}

.footer {
  font-family: "noto serif", "Times New Roman", serif;
}
